.commandContainer {
  background: #1E1E2E !important;
  border-color: #545477 !important;
 }

.commandInput {
  background: #1E1E2E !important;
  border-color: #545477 !important;
  padding: 10px !important;
}

.commandList {
  flex-direction: row !important;
}

.commandOption {
  background: #1E1E2E !important;
  width: 50% !important;
  margin-top: 0 !important;
  transition: background .1s;

  &:hover {
    background: #545477 !important;
  }
}