/* Dark theme */

.command {
  animation: fadein 0.2s ease-in-out forwards;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  background: #17181c !important;
  border-color: #23262f !important;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.input {
  background: #17181c !important;
  border-color: #23262f !important;

  &::placeholder {
    color: #92a0c7;
  }
}

.list a {
  text-decoration: none !important;
}

.button {
  margin-top: 0 !important;
  background: #17181c !important;
  transition: background 50ms;
  display: flex;
  gap: 8px;
  color: #fff !important;
  align-items: center;

  &:hover {
    background: #23262f !important;
  }

  & svg {
    width: 20px;
    height: 20px;
  }
}

/* Light Theme */
.commandLight {
  animation: fadein 0.2s ease-in-out forwards;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  background: #ffffff !important;
  border-color: #cfd2da !important;
}

.commandLightBackground {
  background: rgba(214, 214, 214, 0.479) !important;
}

.inputLight {
  background: #ffffff !important;
  color: #000 !important;
  border-color: #23262f !important;

  &::placeholder {
    color: #777;
  }
}

.listLight a {
  text-decoration: none !important;
  color: #000 !important;
}

.buttonLight {
  margin-top: 0 !important;
  color: #000 !important;
  background: #ffffff !important;
  transition: background 50ms;
  display: flex;
  gap: 8px;
  align-items: center;

  &:hover {
    background: #dbe5ff !important;
  }

  & svg {
    width: 20px;
    height: 20px;
  }
}